/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 16px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"] {
    width: calc(100% - 24px); /* Adjusted width to accommodate button */
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  button {
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  li button {
    margin-left: 10px;
  }
  
  li button:first-child {
    background-color: #dc3545;
    margin-left: auto; /* Push the delete button to the far right */
  }
  
  li button:last-child {
    margin-left: 10px; /* Add margin to the update button */
  }
  
  li button:last-child:hover {
    background-color: #c82333;
  }
  
  .person-details {
    flex-grow: 1;
  }
  
  .person-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .person-info {
    font-size: 16px;
    color: #666;
  }
  